.viewports {
	display: inline-block;
	width: 1000px;
}

.viewport {
	display: inline-block;
	width: 480px; height: 480px;
	margin: 8px 8px 8px 8px;
	border-style: solid; border-color: black; border-width: 1px;
}
